body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 50px;
}

section {
    padding: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p:first-letter {
    font-size: 1.5em;
}

#h1-name {
    text-align: center;
    color: slateblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 2em;
}

#p-description {
    color: teal;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 1.2em;
}

#p-movies {
    font-style: italic;
}

#p-movies::first-letter {
    font-size: 1em;
}

dt {
    color: deeppink;
    font-weight: bolder;
}

dd {
    color: darkslateblue;
    font-style: italic;
}

#div-header {
    background-image: url("../images/mountain.jpg");
    height: 200px;
}

#div-profile {
    position: absolute;
    left: 50px;
    top: 50px;
}

#div-profile img {
    width: 200px;
    height: 200px;
}

#div-profile img {
    border-radius: 50%;
}



.img-mood {
    height: 200px;
}

footer {
    background-color: lightskyblue;
    padding: 20px;
}