#a, #b {
    width: 100px;
    height: 100px;
    font: 30pt bold Helvetica, Arial, sans-serif;
    line-height: 100px;
    text-align: center;
    float: left;
}

#a {
    background-color: lightblue;
}

#b {
    background-color: pink;
}

#c {
    margin-top: 100px;
}

#d {
    background-color: lightgreen;
    height: 100px;
}