#clock {
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightcoral;
    text-align: center;
}

div {
    text-align: center;
}

#btn-stop {
    font-size: 50px;
}