#login-form {
    margin-top: 30px;
}

#nav-menu {
    background-image: linear-gradient(#54b4eb, #1d9ce5);
    height: 70px;
}

#nav-menu .navbar-nav .nav-item {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16pt;
    border-left: 1px solid #fff;
    font-weight: 300;
}

#nav-menu #navbar-user-name{
    color: #fff;
    font-size: 16pt;
    font-weight: 300;
}